# MySQL RaspiberryPi Temperature

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter

# Import DB user and password
from api_keys import mysql_hostname
from api_keys import mysql_port
from api_keys import mysql_username
from api_keys import mysql_pass

In [2]:
# MySQL specific connection string
database_name = 'djangowebsite'
table_name = 'rasppidht11sensor'
database_url = f"mysql+mysqlconnector://{mysql_username}:{mysql_pass}@{mysql_hostname}:{mysql_port}/{database_name}"

In [3]:
# Create the engine
from sqlalchemy import create_engine
engine = create_engine(database_url)
connection = engine.connect()

In [4]:
# pd.read_sql("""DROP TABLE IF EXISTS rasppidht11sensor""", engine)

In [5]:
# # Create the table
# pd.read_sql("""CREATE TABLE rasppidht11sensor (
#     id int primary key not null,
#     meas_time DATETIME UNIQUE,
#     sensor int not null,
#     temperature float,
#     humidity float
#     )""", engine)

In [6]:
#Query the database
pd.read_sql(f"SELECT * FROM {table_name}", engine)

Empty DataFrame
Columns: [id, meas_time, sensor, temperature, humidity]
Index: []